@charset "utf-8";

body {
  font-family: 'Lato',sans-serif;
}

li {
  list-style: none;
}

.Raleway {
  font-family: 'Raleway', sans-serif;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

main {
  padding-top: 70px;
}

.green__button {
  font-size: 12px;
  display: inline-block;
  color: #fff;
  background-color: #74cfae;
  text-decoration: none;
  transition: all 0.3s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 9999;
}

.header__inner {
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
}

.size-40px {
  font-size: 40px;
}

.header__button {
  padding: 14px 12px;
}

.header__button:hover {
  color: #333;
}

.theme {
  background-color: #f2f2f2;
}

.theme__inner {
  padding: 250px 0px;
}

.theme__main-title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.theme__sub-title {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.introduction {
  background-color: #74cfae;
  font-size: 0;
}

.introduction__inner {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  color: #fff;
}

.introduction__img {
  margin-left: 100px;
}

.introduction__contents {
  margin-left: 140px;
  text-align: center;
  padding-top: 20px;
}

.introduction__title {
  font-size: 24px;
}

.introduction__text {
  font-size: 20px;
  word-break: normal;
  line-height: 30px;
  margin-top: 35px;
}

.figure {
  background-color: #f2f2f2;
}

.figure__inner {
  padding: 60px 0 70px;
}

.figure__title {
  font-size: 24px;
}

.figure__box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}
.figure__box li {
  margin-left: 100px;
}

.figure__box li:nth-child(n+4) {
  margin-top: 80px;
}

.figure__box li:nth-child(3n+1) {
  margin-left: 0;
}

.figure__box a {
  opacity: 0.7;
  transition: all 0.3s;
  display: block;
  font-size: 0;
}

.figure__box a:hover {
  opacity: 1;
}

.figure__push_box {
  display: flex;
  padding: 0 150px 0 80px;
  align-items: flex-start;
  margin-top: 90px;
}

.figure__text {
  line-height: 25px;
  font-size: 20px;
}

.figure__button {
  padding: 14px 20px;
  margin-left: 90px;
  white-space: nowrap;
}

.figure__button:hover {
  color: #333;
}

.circle {
  background-color: #4e4e4e;
}

.circle__inner {
  padding: 70px 0 100px;
  color: #fff;
}

.circle__title {
  font-size: 24px;
}

.circle__box {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.circle__box_item {
  margin-left: 180px;
}

.circle__box_item:first-child {
  margin-left: 0;
}

.circle__box_item p {
  margin-top: 10px;
  font-size: 16px;
}

.navigation {
  background-color: #f2f2f2;
}

.navigation__inner {
  padding: 200px 0;
  display: flex;
  justify-content: center;
}

.navigation__inner a {
  width: 185px;
  padding: 14px 0;
  color: #74cfae;
  text-decoration: none;
  line-height: 70px;
  transition: all 0.3s;
}

.navigation__inner a:hover {
  background-color: #fff;
}

.footer {
  background-color: #74cfae;
}

.footer__inner {
  padding: 20px 0 25px;
  display: flex;
  color: #fff;
  justify-content: flex-end;
}